<div class="pt-16 pb-4 px-56">
  <section class="block-container">
    <h2>&lt;whoami/&gt;</h2>
    <p>
      My name is Juan Carlos, and I am a passionate software developer. I
      developed Random Ranker to provide people with a reliable and
      user-friendly tool for any occasion where random ordering is needed.
    </p>
    <div class="w-40 h-full">
      <img
        src="https://github.com/Jmond544.png"
        alt="Gh Profile"
        class="rounded-full w-40 h-16"
      />
      <ul class="flex flex-row justify-center gap-5 mt-2">
        <li>
          <a
            title="Github"
            href="https://github.com/Jmond544"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li>
          <a
            title="LinkedIn"
            href="https://www.linkedin.com/in/juan-carlos-mondalgo-tapia-348147251/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="block-container">
    <h2>Description</h2>
    <p>
      Random Ranker is an application designed to simplify the random and fair
      organization of lists. With Random Ranker, you can input your options and
      generate random sequences quickly and easily.
    </p>
    <div class="rounded-full w-36 h-20 overflow-hidden min-w-40">
      <img
        src="../../../../assets/image-random.jpg"
        alt="image"
        class="object-cover object-center"
      />
    </div>
  </section>

  <section class="block-container">
    <h2>Key Features</h2>
    <p>
      My application offers an intuitive interface for inputting options and
      generating random sequences instantly. Additionally, Random Ranker allows
      you to customize the number of elements and adjust sorting preferences to
      suit your needs.
    </p>
    <i class="fa-solid fa-gear text-6xl min-w-40"></i>
  </section>

  <section class="block-container">
    <h2>User Benefits</h2>

    <p>
      With Random Ranker, making impartial and random decisions has never been
      easier. Save time in list organization and promote fairness in your
      selection processes, whether for giveaways, games, or simply deciding the
      order of your to-do tasks.
    </p>

    <i class="fa-solid fa-user text-6xl min-w-40"></i>
  </section>

  <section class="block-container">
    <h2>Vision</h2>

    <p>
      The idea behind Random Ranker arose from the need to find a quick and fair
      way to sort lists in everyday situations. My vision is to provide people
      with a reliable and user-friendly tool for any occasion where random
      ordering is needed.
    </p>

    <i class="fa-solid fa-eye text-6xl min-w-40"></i>
  </section>
</div>
